/* index.css */

body {
    font-family: Arial, sans-serif;
    background: url('../img/bg1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(0, 123, 255, 0.9);
    color: #fff;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .nvbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header .logo {
    max-height: 50px;
    height: auto;
    width: auto;
    transition: transform 0.3s ease;
}

header .logo:hover {
    transform: scale(1.1);
}

header .nav-list {
    display:
}