html,
body {
  height: 100%;
} /* Cela garantit que le contenu du corps remplira toute la hauteur de la fenêtre, même s'il y a peu de contenu.*/

body {
  display: flex;
  flex-direction: column;
}
 /*définit le mode d'affichage (display) du corps en tant que conteneur de disposition flexible (flex). 
 Cela permet de définir l'alignement, la direction et la disposition des éléments enfants à l'intérieur du corps.
L'axe principal de la disposition est défini avec la propriété flex-direction. Dans ce cas, la valeur column est utilisée pour aligner 
les éléments enfants verticalement les uns sous les autres. Ainsi, les éléments enfants du corps, tels que le pied de page, seront alignés verticalement les uns sous les autres au bas de la page.*/



.container { /* .container est utilisée pour définir une rangée de catégories dans le pied de page d'un site de marketplace.*/
  display: flex; /*display: flex;, la classe .container permet de créer une disposition flexible qui va faciliter l'alignement des différentes catégories.*/
  justify-content: space-around; /*les éléments enfants de la classe .container (ici les catégories) sont distribués de manière à ce que le premier élément (la catégorie "Acheter") soit aligné à gauche, le dernier élément (la catégorie "Contact") soit aligné à droite et les catégories restantes (Vendre et A propos du site) soient réparties également entre elles, avec un espace.*/
  flex-wrap: wrap; /*permet .container de se répartir sur plusieurs lignes si nécessaire. Cela assure une bonne mise en page des catégories*/
}

.category {
  flex-basis: 32%; /*chaque catégorie occuperont une largeur égale à 22% de la largeur de leur conteneur parent (la classe .container).*/
  text-align: justify;/* */
  margin-bottom: 20px;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.footer {
    margin-top: auto; /* Place le footer en bas de la page */
    background-color: #333;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-section {
    margin: 10px;
    padding: 10px;
}

.footer-section h3 {
    margin-bottom: 15px;
}

.footer-section ul, .footer-section p {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.footer-section a {
    color: white;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}